@font-face {
  font-family: "Calligraffiti";
  src: url("font/Calligraffiti-webfont.eot") format("eot");
  src: url("font/Calligraffiti-webfont") format("svg");
  src: url("font/Calligraffiti-webfont") format("truetype");
  src: url("font/Calligraffiti-webfont.woff") format("woff");
}

body {
  background: beige;
}

h1 {
  font-family: "Calligraffiti";
  text-align: center;
  margin-bottom: 0px;
}
