@font-face {
  font-family: "Calligraffiti";
  src: url("font/Calligraffiti-webfont.eot") format("eot");
  src: url("font/Calligraffiti-webfont") format("svg");
  src: url("font/Calligraffiti-webfont") format("truetype");
  src: url("font/Calligraffiti-webfont.woff") format("woff");
}

body {
  background: beige;
}

h1 {
  font-family: "Calligraffiti";
  text-align: center;
  margin-bottom: 0px;

  background: linear-gradient(45deg, blue, #616971, #343434, #ff9517, #172940);

  background-size: 170%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: turn 60s linear infinite;
}

h3 {
  font-family: "Calligraffiti";
}

.menu {
  position: absolute;
  top: 13px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #172940;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1 {
  background-color: #ff9517;
}

.bar2 {
  background-color: #172940;
  transform: translate(-5px, 0px);
}

.bar3 {
  background-color: #616971;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  margin-bottom: 5em;
  position: absolute;
  top: 55px;
  transition: 0.5s ease;
  transform: translateX(-30em);
}

.inForm {
  transform: translateX(0em);
}

.cardContainer {
  width: 30%;
  height: 28em;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.services {
  margin-top: 2em;
}

.pointUnderline {
  position: relative;
  bottom: 0.75em;
  left: 3.1em;
  width: 0.5em;
  height: 0.5em;
  background: #ff9517;
  border-radius: 50%;
  border: 0.1em solid white;
}

.pointUnderline::before {
  position: absolute;
  width: 2em;
  height: 0.25em;
  content: "";
  border-bottom: 0.1em solid lightgrey;
  margin-left: -2em;
}

.pointUnderline::after {
  position: absolute;
  width: 2em;
  height: 0.25em;
  content: "";
  border-bottom: 0.1em solid lightgrey;
  margin-left: 0.37em;
}

.icon {
  border-radius: 50%;
  color: #ff9517;
  border: 0.1em solid lightgrey;
  margin-top: 1em;
  margin-right: 0.5em;
  padding: 0.5em;
  height: 1em;
}

.text-container {
  color: #ff9517;
}

.cardContainer:hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  border-radius: 10px;
}

.card .front {
  color: white;
  background-color: #172940;
  pointer-events: none;
  z-index: 1;
}

.front p,
.front h3 {
  padding-left: 1em;
}

.card .back {
  background-color: #ff9517;
  transform: rotateY(180deg);
}

/*fix on mf & edge*/
.card:hover .front {
  z-index: 0;
  /*-webkit-transition: z-index 2s ease;*/
  transition: z-index 1s ease;
}

#formul {
  position: absolute;
  left: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animate {
  width: 50%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.animate input {
  width: 100%;
  height: 100%;
  color: #342922;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 15px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: background-color 1s ease;
}

.animate input:focus {
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 1s ease;
}

.animate label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #342922;
}

.animate label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #172940;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.animate input:focus + .label-name .content-name,
.animate input:valid + .label-name .content-name {
  transform: translateY(-1em);
  font-size: 20px;
  color: #342922;
}

.animate input:focus + .label-name::after,
.animate input:valid + .label-name::after {
  transform: translateX(0em);
}

#button {
  width: 100%;
  color: #ff9517;
  background-color: #172940;
  border: none;
  border-radius: 5px;
}

@keyframes turn {
  to {
    background-position: 255%;
  }
}
